# .:.
# gitconfig

[user]
  email = simon.kaleschke.leipzig@gmail.com
  name = Simon Kaleschke
[alias]
  ap = add --patch
  co = checkout
  cf = !git checkout `git branch | sed s/$(git remote)// | cut -d'/' -f2 | fzf`
  cl = clean -fd
  cr = !git checkout `git branch -r | sed s/$(git remote)// | cut -d'/' -f2 | fzf`
  br = branch
  bd = !git branch -D `git branch | fzf -m`
  cm = commit
  st = status
  pl = pull
  pra = pull --rebase --autostash
  ps = push
  pu = !git push -u $(git remote) $(git branch --show-current)
  lg = log
  df = diff
  dfc = diff --cached
  rb = rebase
  rbc = rebase --continue
[color]
  ui = true
[pull]
  rebase = false
[init]
  defaultBranch = main
