# .:.
# gitconfig

[user]
  email = simon.kaleschke.leipzig@gmail.com
  name = Simon Kaleschke
[alias]
  ap = add --patch
  co = checkout
  cf = !git checkout `git branch | fzf`
  cr = !git checkout `git branch -r | sed s/$(git remote)// | cut -d'/' -f2 | fzf`
  br = branch
  bd = !git branch -D `git branch | fzf`
  cm = commit
  st = status
  pl = pull
  ps = push
  pu = !git push -u $(git remote) $(git branch --show-current)
  lg = log
  df = diff
  dfc = diff --cached
  rb = rebase
  rbc = rebase --continue
[color]
  ui = true
[pull]
  rebase = false
[init]
  defaultBranch = main
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
