# .:.
export PATH=$PATH:$HOME/bin

# Make variables available to i3
echo "*monitor: $MONITOR
*monitor_left: $MONITOR_LEFT
*monitor_right: $MONITOR_RIGHT
*touchpad: $TOUCHPAD" > $HOME/.Xresources

# Adjust monitors
autorandr $AUTORANDR_PROFILE
