layout {
  cwd "~/git/architecture/apps/core"

  swap_tiled_layout name="vertical" {
    tab {
      pane split_direction="vertical" {
        children
      }
    }
  }

  swap_tiled_layout name="horizontal" {
    tab {
      pane split_direction="horizontal" {
        children
      }
    }
  }

  swap_tiled_layout name="stacked" {
    tab {
      pane stacked=true {
        children
      }
    }
  }

  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
  }

  tab name="nvim" {
    pane name="nvim" command="nvim" {
      args "."
    }
  }
  tab name="console" {
    pane name="console" command="docker-compose" {
      args "run" "--label" "traefik.enable=false" "--rm" "core" "rails" "c"
    }
  }
  tab name="zsh" focus=true {
    pane name="logs" command="docker-compose" {
      args "logs" "-f" "core" "--tail=100"
    }
    pane name="zsh" focus=true
  }
  tab name="opencode" {
    pane name="opencode" command="opencode"
  }
}
